* {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("NewYear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #fff;
}
#container {
    display: flex;
    color: #fff;
}

.time{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.text{
    font-size: 20px;
}

#time-zone{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}